/* Basic settings for whole site */

:root {
    --body-width: 50vw;
    --manic-orange: #ba4120;
}

body {
    font-family: 'Bebas Neue', Sans-Serif;
    font-weight: 300;
}

a {
    color: unset;
}

a:hover, a:focus {
    color: unset;
}

button {
    border: none;
}

::-moz-selection {
    background: var(--manic-orange);
    color: white;
}

::selection {
    background: var(--manic-orange);
    color: white;
}

/* CSS specific to header */

.logo-top-corner {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 7.5vh;
}

.logo-container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo-center {
    height: 30px;
    margin-bottom: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}

.dark {
    background-color: black;
}

.header.dark div p {
    color: #a4a4a4;
    font-size: 4rem;
    line-height: 1;
}

.header.dark .logo-top-corner {
    filter: invert(50%);
}

.header.dark .search {
    color: #a4a4a4;
}

.highlight {
    color: var(--manic-orange) !important;
}

.menu-outter {
    display: flex;
    justify-content: center;
}

.search {
    position: absolute;
    right: 10px;
}

.search-input {
    width: calc(100% - 100px);
    background-color: black;
    border: 1px solid #404040;
    border-radius: 7px;
    color: #a4a4a4;
    text-align: center;
    transition-duration: 130ms;
}

.search-input:focus, .search-input:hover {
    border-color: #a4a4a4;
}

/* CSS specific to menu */

.menu {
    display: flex;
    box-sizing: border-box;
    height: calc(1.5rem + 5px);
}

.menu a {
    display: inline-block;
    font-family: 'Bebas Neue';
    margin-left: 20px;
}

.menu a:first-child {
    margin-left: 0;
}

.menu-item {
    color: black;
    text-decoration: none;
}

.menu-item:hover, .menu-item:focus {
    color: var(--manic-orange);
    text-decoration: none;
}

.menu-active {
    color: var(--manic-orange);
    border-bottom: 5px solid var(--manic-orange);
}

.menu-item {
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
}

/* Settings for body and categories view */

.body {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.article-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 15px;
    row-gap: 50px;
    margin-bottom: 60px;
}

.button {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 100%;
}

.social-share {
    display: inline-flex;
}

.social-share button {
    width: 2.9rem;
    height: 2.9rem;
    background-color: var(--manic-orange);
    border-radius: 50%;
    line-height: 1;
}

.social-share button:hover {
    cursor: pointer;
}

.social-share button:first-child {
    margin-right: 0.7rem;
}

.social-share button svg {
    height: initial;
    color: white;
    width: 1rem !important;
}

.social-share button:last-child svg {
    width: 1.5rem !important;
}

.content-type {
    display: inline-flex;
}

.content-type span {
    display: flex;
    justify-content: center;
    width: 2.9rem;
    height: 2.9rem;
    background-color: var(--manic-orange);
    border-radius: 50%;
    line-height: 1;
    margin-right: 0.7rem;
}

.content-type span:last-child {
    margin-right: 0;
}

.content-type span svg {
    height: initial;
    color: white;
    width: 1.5rem !important;
}

.content-type span:last-child svg {
    width: 1.5rem !important;
}

.button.home-action-button {
    padding: 10px;
    font-size: 1.5rem;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    line-height: 1;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cover-image {
    position: relative;
    width: 100%;
    padding-top: 66%;
    background-size: cover;
    background-position: center center;
}

.content-types-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1rem;
    right: 1rem;
}

.content-types-container svg:not(:last-child) {
    margin-bottom: 0.2rem;
}

.content-type {
    color: white;
    padding: 0.6rem;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 3rem;
    height: auto;
}

.category-link {
    font-family: 'Roboto Slab';
    font-size: 0.9rem;
    margin-bottom: 0.9rem;
}

.category-link>a {
    text-decoration: underline;
}

.article-title {
    font-size: 2rem;
    line-height: 0.9;
}

.article-title>a:hover, .article-title>a:focus {
    text-decoration: none;
}

.article-text {
    font-family: 'Roboto Slab';
    font-size: 0.9rem;
}

/* CSS specific to big article card view */

.big-article:hover a, .big-article:hover div {
    text-decoration: none;
}

.big-article:hover .big-article-padding {
    background-color: rgb(248, 248, 248);
}

.big-article:hover .cover-image {
    filter: brightness(1.1);
}

.big-article:hover .category-link>a {
    text-decoration: underline;
}

.big-article .cover-image {
    transition-duration: 150ms;
}

.button.big-article-button {
    padding: 10px;
    font-size: 1.5rem;
    display: inline-block;
    line-height: 1;
    display: none;
}

.big-article-padding {
    border: 1px solid #eee;
    padding: 15px 1.8rem;
    transition-duration: 80ms;
}

.big-article-bottom-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 25px;
    line-height: 1;
}

.big-article-bottom-row .social-share {
    margin-left: auto;
}

/* CSS specific to small article card view */

.small-article {
    border: 1px solid #eee;
}

.small-article a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.small-article:hover a {
    text-decoration: none;
}

.small-article:hover .category-link>a {
    text-decoration: underline;
}

.small-article:hover .small-article-padding {
    background-color: rgb(248, 248, 248);
}

.small-article:hover .cover-image {
    filter: brightness(1.1);
}

.small-article .cover-image {
    transition-duration: 150ms;
}

.button.small-article-button {
    padding: 10px;
    margin-top: 20px;
    font-size: 1.5rem;
    display: flex;
    line-height: 1;
    display: none;
}

.small-article-padding {
    position: relative;
    flex: auto;
    padding: 15px 30px 45px 30px;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition-duration: 80ms;
}

.small-article-padding>a {
    margin-top: auto;
    margin-bottom: 0.4rem;
}

.small-article-padding .content-type {
    position: absolute;
    display: flex;
    bottom: -1.45rem;
}

.small-article-padding .article-title, .big-article-padding .article-title {
    margin-bottom: 0.7rem;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
}

/* .small-article-padding .article-title a, .big-article-padding .article-title a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
} */

.small-article-padding .article-text, .big-article-padding .article-text {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.4;
}

.content-type-icon {
    width: 3rem;
    display: inline-block;
    background-color: var(--manic-orange);
    border-radius: 50%;
}

.content-images {
    background-image: url('../images/photos.svg');
    background-size: cover;
    filter: invert(100%);
    padding-top: 3rem;
}

.content-gallery {
    background-image: url('../images/photos.svg');
    background-size: cover;
    filter: invert(100%);
    padding-top: 3rem;
}

.content-video {
    background-image: url('../images/video.svg');
    background-size: cover;
    filter: invert(100%);
    padding-top: 3rem;
}

/* CSS specific to single article view */

.button.single-article-button {
    padding: 0.5rem;
    font-size: 1rem;
    display: inline-flex;
    line-height: 1;
}

.single-article-padding {
    padding: 15px 0px;
}

.single-article-padding .article-title {
    font-family: 'Bebas Neue Book';
    font-size: 4rem;
    line-height: 1;
    margin-top: 15px;
    margin-bottom: 10px;
}

.author-link {
    text-decoration: none;
}

.author-link:hover, .author-link:focus {
    text-decoration: none;
}

.single-article-bottom-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 25px;
    line-height: 1;
}

.single-article .article-text {
    margin-top: 15px;
}

.credits {
    font-family: 'Bebas Neue Book';
    font-size: 1.3rem;
    line-height: 1;
}

.single-article-padding .article-text figure img {
    max-width: var(--body-width);
}

.raw-html-embed {
    display: flex;
    justify-content: center;
}

.single-article .social-share {
    align-self: end;
}

.single-article-bottom-row-links {
    display: flex;
    flex-direction: column;
}

.single-article-bottom-row-links>div:last-child>div:first-child {
    margin-top: 2px;
    background-color: var(--manic-orange);
}

.single-article-bottom-row-links>div>a {
    margin-left: 2px;
}

.single-article-bottom-row-links>div>a>div {
    background-color: #555;
}

/* Footer */

.footer-menu {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: black;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.footer-menu>div {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 0px 5px 0px;
    border-bottom: 3px solid black;
}

.copyright {
    background-color: black;
    color: white;
    font-family: 'Roboto Slab';
    font-size: 0.8rem;
    padding: 5px 0px;
    text-align: center;
}

/* RESPONSIVE CSS START */

/* RESPONSIVE CSS END */